.project-container {
	min-height: calc(100vh - 80px);
}

.project-title {
	width: fit-content;
	margin-top: 4rem;
	margin-bottom: 4rem;
	font-size: 2.6rem;
	position: relative;
}

.project-title::after {
	content: '';
	position: absolute;
	width: 40%;
	height: 4px;
	background: var(--clr-primary);
	display: block;
	top: 55px;
}

.projects-container .project-container {
	display: flex;
	flex-direction: column;
	row-gap: 10rem;
	align-items: center;
	justify-content: center;
	text-align: center;
}
