.profile-container {
	max-width: 1200px;
	margin: 0 auto;
	min-height: 100vh;
	min-height: calc(100vh - 80px);
	display: flex;
	align-items: center;
	position: relative;
}

.profile-container .profile-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	padding: 0 1.2rem;
	margin: 3rem 0;
}

.profile-container .profile-content .profile-title {
	font-size: 4.2rem;
	font-weight: 900;
	margin-bottom: 0;
	letter-spacing: 1px;
}
.profile-container .profile-content .profile-title .name {
	color: var(--clr-primary);
}

.profile-container .profile-content .profile-description {
	font-size: 2rem;
	margin-top: 1rem;
}

.profile-container .profile-content .profile-info {
	max-width: 80%;
	font-size: 1.2rem;
	margin-top: 0;
}

.arrow-container {
	position: absolute;
	display: flex;
	top: 80%;
	left: 52%;
}

.checkout {
	font-family: 'Gloria Hallelujah';
	font-size: 1.5rem;
	margin-left: 0.5rem;
	/* position: absolute; */
}

.checkout a {
	color: var(--clr-font);
	text-decoration: none;
}

.checkout a:hover {
	color: var(--clr-primary);
	text-decoration: none;
}

.arrow {
	width: 240px;
	color: var(--clr-c);
	transform: scale(-1, -1);
	padding-bottom: 10px;
	/* position: absolute; */
}

@media (max-width: 1220px) {
	.profile-container {
		flex-direction: column;
	}

	.profile-container .profile-content {
		margin: 0 0 0;
	}

	.arrow-container {
		position: absolute;
		display: flex;
		top: 110%;
		left: 52%;
	}

	.checkout {
		display: none;
		font-family: 'Gloria Hallelujah';
		font-size: 1.4rem;
		margin-left: 0.5rem;
	}

	.arrow {
		display: none;
		width: 100px;
		color: var(--clr-c);
		transform: scale(-1, -1);
		padding-bottom: 10px;
	}
}

@media (max-width: 650px) {
	.profile-container .profile-content .profile-title {
		font-size: 3.2rem;
	}

	.profile-container .profile-content .profile-info {
		max-width: 95%;
		font-size: 1.2rem;
		margin-top: 0;
	}
}
