.card-wrapper {
	width: 100%;
}

.card-wrapper h2 {
	font-size: 2rem;
	margin: 0px;
}
.card-wrapper h3 {
	font-size: 1.4rem;
	margin-top: 0.8rem;
	margin-bottom: 0px;
}
.card-wrapper p {
	margin: 0;
	font-size: 1rem;
	letter-spacing: 1px;
}

.card-wrapper .card-container {
	flex: 2;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	position: relative;
	z-index: 0;
}

.card-wrapper .card-container .image-container {
	flex: 1;
	margin-top: 16px;
	/* display: flex; */
}

.card-wrapper .card-container .odd::after {
	content: '';
	position: absolute;
	min-width: 490px;
	height: 240px;
	background: var(--clr-card2);
	left: 0px;
	top: -30px;
	z-index: -1;
}

.card-wrapper .card-container .even::after {
	content: '';
	position: absolute;
	min-width: 490px;
	height: 240px;
	background: var(--clr-c);
	left: 710px;
	top: -30px;
	z-index: -1;
}

.card-wrapper .card-container .image-container .card-image {
	width: 500px;
	object-fit: cover;
}

.card-wrapper .card-container .details-container {
	flex: 1;
}

.card-wrapper .card-container .details-container .stack-container span {
	letter-spacing: 1px;
	position: relative;
	padding: 0 0.5rem;
}

.card-wrapper .card-container .details-container .stack-container span::after {
	content: '';
	background-color: var(--clr-font);
	position: absolute;
	width: 2px;
	height: 14px;
	top: 4px;
	left: 0;
	display: block;
}

.card-wrapper
	.card-container
	.details-container
	.stack-container
	span:first-child::after {
	height: 0px;
}
.card-wrapper .card-container .details-container .btn-container {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 2rem;
}

.card-wrapper .card-container .details-container .buttons {
	background-color: var(--clr-primary);
	color: var(--clr-bg);
	width: 85px;
	padding: 0.25rem 0.5rem;
	text-decoration: none;
}

.arrow {
	width: 180px;
	color: var(--clr-c);
	transform: scaleY(-1);
	position: absolute;
	top: 230px;
	left: 50;
}

/* 




.card-wrapper .card-container .details-container {
	min-height: 100%;
	border-top: 6px var(--clr-card-bdr) solid;
}

.card-wrapper .card-container .details-container .card-titles {
	color: var(--clr-card-font);
}
.card-wrapper .card-container .details-container .card-text {
	max-width: 100%;
	color: var(--clr-bg);
	margin-top: 0px;
	font-size: 18px;
}

.card-wrapper .card-container .details-container .stack-container {
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
.card-wrapper .card-container .details-container .stack-container span {
	font-size: 16px;
	position: relative;
	padding: 0 0.25rem;
} */

/* .card-wrapper .card-container .details-container .stack-container span::after {
	content: '';
	background-color: white;
	position: absolute;
	width: 2px;
	height: 16px;
	top: 4px;
	left: 106%;
	display: block;
}
.card-wrapper .card-container .details-container .stack-container span::after {
	content: '';
	background-color: white;
	position: absolute;
	width: 2px;
	height: 16px;
	top: 4px;
	left: 106%;
	display: block;
} */
