.card-wrapper {
	width: 100%;
}

.card-wrapper h2 {
	font-size: 2rem;
	margin: 0px;
}
.card-wrapper h3 {
	font-size: 1.4rem;
	margin-top: 0.8rem;
	margin-bottom: 0px;
}
.card-wrapper p {
	margin: 0;
	font-size: 1rem;
	letter-spacing: 1px;
}

.card-wrapper .card-container {
	flex: 2;
	position: relative;
	z-index: 0;
}

.right {
	display: flex;
}

.left {
	display: flex;
}

.card-wrapper .card-container .image-container {
	flex: 1;
	margin-top: 16px;

	/* display: flex; */
}

.card-image-even {
	display: inline-block;
	width: 500px;
	object-fit: cover;
	box-shadow: 25px -25px 0 var(--clr-card2);
}
.card-image-odd {
	display: inline-block;
	width: 500px;
	object-fit: cover;
	box-shadow: -25px -25px 0 var(--clr-card);
}

.card-wrapper .card-container .details-container {
	flex: 1;
}

.card-wrapper .card-container .details-container .card-text {
	width: 100%;
	margin: 0 auto;
}

.card-wrapper .card-container .details-container .stack-container span {
	letter-spacing: 1px;
	position: relative;
	padding: 0 0.5rem;
}

.card-wrapper .card-container .details-container .stack-container span::after {
	content: '';
	background-color: var(--clr-font);
	position: absolute;
	width: 2px;
	height: 14px;
	top: 4px;
	left: 0;
	display: block;
}

.card-wrapper
	.card-container
	.details-container
	.stack-container
	span:first-child::after {
	height: 0px;
}
.card-wrapper .card-container .details-container .btn-container {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 2rem;
}

.card-wrapper .card-container .details-container .buttons {
	width: 85px;
	padding: 0.5rem 1rem;
	background-color: var(--clr-primary);
	color: var(--clr-font-light);
	text-decoration: none;
}

@media (max-width: 1220px) {
	.card-wrapper .card-container .image-container {
		flex: 1;
		width: 85%;
		margin: 0 auto;
	}

	.left {
		flex-direction: column;
	}

	.right {
		flex-direction: column-reverse;
	}

	.card-wrapper .card-container .details-container .card-text {
		width: 80%;
	}
}

@media (max-width: 800px) {
	.card-wrapper .card-container .image-container {
		flex: 1;
		width: 85%;
		margin: 0 auto;
	}

	.left {
		flex-direction: column;
	}

	.right {
		flex-direction: column-reverse;
	}
}

@media (max-width: 600px) {
	.card-wrapper .card-container .details-container .card-text {
		width: 95%;
	}
	.card-image-even {
		width: 400px;
	}
	.card-image-odd {
		width: 400px;
	}
}
