.icon-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border: 1px solid red; */
}

.icon {
	width: 50px;
	height: 50px;
}

.icon-title {
	margin: 0;
	padding: 0.5rem;
}

.icon-dark {
	filter: invert(94%) sepia(71%) saturate(1258%) hue-rotate(180deg)
		brightness(108%) contrast(87%);
}
