.contact-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 4rem;
}

.contact-container .contact-title {
	width: fit-content;
	font-size: 2.6rem;
	position: relative;
	padding-top: 80px;
	margin-bottom: 2rem;
}

.contact-container .contact-title::after {
	content: '';
	position: absolute;
	width: 40%;
	height: 4px;
	background: var(--clr-primary);
	display: block;
	top: 135px;
}

.contact-container .info {
	display: flex;
	width: 60%;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.contact-container .info .info-sections {
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contact-container .info .info-sections .circle {
	background-color: var(--clr-primary);
	padding: 0.75rem 1rem;
	border-radius: 50%;
	color: var(--clr-bg);
}

.contact-container .info .info-sections .circle a {
	color: var(--clr-bg);
}

.contact-container .info .info-sections .section-title {
	color: var(--clr-primary);
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 1px;
}

.contact-container .info .info-sections p {
	margin: 0.4rem;
}
.contact-container .info .info-sections p:last-child {
	margin: 0rem 0 0.4rem;
}

.contact-container .form-wrapper {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contact-container .form-wrapper .form-container {
	height: 100%;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.contact-container .form-wrapper .form-container .inputs {
	width: 80%;
	padding: 0.75rem 1rem;
	margin: 0.25rem;
	margin-bottom: 1.5rem;
	border: none;
	background-color: var(--clr-input);
	font-size: 1.2rem;
	font-family: 'Source Sans Pro', sans-serif;

	outline-color: var(--clr-primary);
}

.contact-container .form-wrapper .form-container .btn {
	width: 85%;
	padding: 0.75rem 1rem;
	margin: 0.25rem;
	text-align: center;
	background-color: var(--clr-primary);
	color: var(--clr-bg);
	font-size: 1.2rem;
	border: none;
}
