body {
	margin: 0;
	padding: 0;
}

.app {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
	color: var(--clr-font);
	background-color: var(--clr-bg);
	height: 100vh;
}

.light {
	--clr-bg: #fcfcfc;
	--clr-bg-alt: #ffffff;
	--clr-font: #555555;
	--clr-font-alt: #444444;
	--clr-primary: #2978b5;
}

.dark {
	--clr-bg: #2b304b;
	--clr-bg-alt: #2a2f4c;
	--clr-font: #dbdbee;
	--clr-font-alt: #d7d7f7;
	--clr-primary: #8686b8;
}

main {
	max-width: 1200px;
	margin: 0 auto;
}
