body {
	margin: 0;
	padding: 0;
}

.app {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
	color: var(--clr-font);
	background-color: var(--clr-bg);
	min-height: 100%;
}

.light {
	--clr-bg: hsl(0, 0%, 99%);
	--clr-bg-alt: hsl(0, 0%, 100%);
	--clr-font: hsl(0, 0%, 33%);
	--clr-font-alt: hsl(0, 0%, 27%);
	--clr-primary: hsl(206, 63%, 44%);
	--clr-card: hsl(216, 12%, 80%);
	--clr-card2: hsl(216, 12%, 80%);
	--clr-card-font: hsl(206, 63%, 54%);
}

.dark {
	--clr-bg: hsl(231, 27%, 23%);
	--clr-bg-alt: hsl(231, 29%, 23%);
	--clr-font: hsl(240, 36%, 90%);
	--clr-font-alt: hsl(240, 67%, 91%);
	--clr-primary: hsl(240, 26%, 62%);
	--clr-card: hsl(238, 12%, 58%);
	--clr-card-font: hsl(206, 63%, 44%);
}

main {
	max-width: 1200px;
	margin: 0 auto;
}
