body {
	margin: 0;
	padding: 0;
}

.app {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
	color: var(--clr-font);
	background-color: var(--clr-bg);
	min-height: 100%;
}

.light {
	--clr-bg: hsl(0, 0%, 99%);
	--clr-bg-alt: hsl(0, 0%, 100%);
	--clr-font: hsl(0, 0%, 33%);
	--clr-font-alt: hsl(0, 0%, 27%);
	--clr-primary: #005b96;
	--clr-card: hsla(203, 77%, 80%, 0.8);
	--clr-card2: hsla(205, 26%, 47%, 0.8);
	--clr-c: hsla(180, 50%, 40%, 0.8);
}

.dark {
	--clr-bg: hsl(231, 27%, 23%);
	--clr-bg-alt: hsl(231, 29%, 23%);
	--clr-font: hsl(240, 36%, 90%);
	--clr-font-alt: hsl(240, 67%, 91%);
	--clr-primary: #8585b7;
	--clr-card: hsla(234, 76%, 80%, 0.8);
	--clr-card2: hsla(234, 26%, 47%);
	--clr-c: hsla(168, 26%, 54%, 0.8);
}

main {
	max-width: 1200px;
	margin: 0 auto;
}
